*{
    margin: 0;
    padding: 0;
}

:root {
    /* Dark mode colors */
    --txt_clr: #eef5ff;
    --txt_red: #966990;
    --txt_green: #4b7f8a;
    --txt_dull: #71749f;
    --active_nav: #39406c;
    --border_left: #656dab;
    --active_cont: #5b63b8;
    --cont_bg: #292c59;
    --body_gradient: linear-gradient(#374077, #22264b);
    --main_gradient: #4b5598;
    --sidebar_gradient: radial-gradient(circle at top right, #383f76, #23274d);
  
    /* Light mode colors */
    --txt_clr_light: #27262b;
    --txt_red_light: #6e5453;
    --txt_green_light: #9cc8b9;
    --txt_dull_light: #d1d1d1;
    --active_nav_light: #f7f9f8;
    --border_left_light: #9c97b5;
    --active_cont_light: #6a74c9;
    --cont_bg_light: #fff;
    --body_light: #fff;
    --main_light: #f1f2f7;
    --sidebar_light: #fff;
}

h1,h2,h3,h4,h5,h6, label{
    font-family: 'Questrial', sans-serif;
}
p, small{
    font-family: 'Baloo 2', cursive;
    margin: 0 !important;
    padding: 0 !important;
}
.user-image{
    width: 170px;
    height: 170px;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.plate-no{
    font-weight: 600;
}

.upload-image{
    width: 120px;
    height: 120px;
    margin-top: 1rem;    
}
.vehicle-upload-info{
    display: grid;  
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
.vehicle-upload-info input{
    height: 35px;    
    border: 0;
    border-bottom: 2px solid #4b7f8a;
    outline: 0;
    padding: 10px 10px ;
    font-family: 'Baloo 2', cursive;    
    font-size: 15px;
}
textarea{
    border: 0;
    border-bottom: 2px solid #4b7f8a;
    outline: 0;
    font-family: 'Baloo 2', cursive;    
    font-size: 15px;
    color: var(--txt_clr);
}
.vehicle-upload-info label{
    font-weight: 550;
}
.vehicle-upload-info input::placeholder{
    font-family: 'Baloo 2', cursive;
}
.vehicle-upload-info .select-form {    
    width: 60%;
    outline: none;
    border: 2px solid transparent;
    border-bottom: 2px solid #4b7f8a;
    height: 35px;    
    font-family: 'Baloo 2', cursive; 
    font-size: 15px;
    border-radius: 5px; 
    background: none;
    color: white;
}
.vehicle-upload-info .select-form.light{
    color: #222;
}
.vehicle-upload-info .select-form option{
    background: #292c59 !important;
}
.vehicle-upload-info .select-form option.light{
    background: white !important;
}
.vehicle-upload-info .select-form:focus{
    border: 2px solid transparent;
    border-bottom: 2px solid #4b7f8a;
}
.vehicle-upload-info button{
    width: 40%;
    justify-self: center;
    background-color: white;
    border: 2px solid #4b7f8a;
    padding: 5px 0;
    border-radius: 7px;
}
.vehicle-upload-info{
    color: white;
}
.vehicle-upload-info input, textarea{
    background: none;
}
.vehicle-upload-info.light, textarea.light{
    color: #222;
}
.vehicle-upload-info #plateNo{
    text-transform: uppercase;
}

#content{
    height: 100vh;
    overflow-y: hidden;
}

#home, #me, #report{
    height: 95vh;
    overflow-y: scroll;
}

#home::-webkit-scrollbar, #me::-webkit-scrollbar, #report::-webkit-scrollbar{
    width: 0 !important;
}

.rightsidebar{
    overflow-y: hidden;
}

#homeSideBar{
    display: block;
    height: 100vh;
    overflow-y: scroll;
}
#reportSideBar, #meSideBar{
    height: 100vh;
    overflow-y: scroll;
    display: none;
}
.space{
    height: 2vh;
}
header ul li.actv {
    font-weight: 600;
    border-bottom: 3px solid var(--active_nav_light);
    background: var(--active_nav);
}
header ul li.actv.light{
    border-bottom: 3px solid var(--border_left_light);
    background: var(--active_nav_light);
}

.tickets_bought{
    background-image: url(../images/user_bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(41, 44, 89, 0.8);
    height: 30vh;
}
.tickets_bought.light{
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.767);
}
.tickets_bought h1{
    font-size: 50px !important;
    font-family: cursive;
}
#home p b{
    color: var(--txt_clr);
}
#home p b.light{
    color: var(--txt_clr_light);
}

#softwareIssue{
    display: flex;
}

#missingVehicle, #agentIssue{
    display: none;
}
small{
    color: var(--txt_clr);
}
small.light{
    color: var(--txt_clr_light);
}

#notifbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 20px;
    right: 10px;
    bottom: 10px;
    color: var(--txt_clr);
    border-radius: 50%;
    border: none;
    outline: none;
    background: var(--active_cont);
    display: none;
}

@media screen and (max-width: 767px) {
    .tickets_bought{
        clip-path: polygon(22% 0, 100% 0, 100% 0, 100% 75%, 77% 100%, 0 100%, 0 100%, 0 27%);
    }
}